#apps_innolunch {
	clear: both;
	margin-top: 20px;
}
	#apps_innolunch li {
		float: left;
		list-style: none;
		text-align: center;
		width: 20%;
	}
	
		#apps_innolunch li p.day {
			font-weight: bold;
		}