/**
 * Some Simple Resets
 */
* { margin: 0; padding: 0; }
img { border: 0; }
a { color: #0066cc; text-decoration: none; outline: none; }
a:hover { color: #0099ff; }
header, section, footer, aside, nav, article, figure { display: block; }

/**
 * Main Layout Structure
 */
body {
	background-color: #f1f1f1;
	font: 14px/1.4 'Open Sans';
}

#apps_site_wrap {
	margin: 20px auto;
	max-width: 1000px;
}

#apps_main_container {
	background-color: #ffffff;
	border-top: 3px solid #660066;
	clear: both;
	box-sizing: border-box;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
	overflow: hidden;
	padding: 20px;
}

.apps_content.right {
	margin-left: 220px;
}

/**
 * Typography
 */
h1 {
	margin: 0;
}

h2 {
	font-size: 1.8em;
	margin-bottom: 10px;
}

h3 {
	font-size: 1.2em;
}

/**
 * Apps Site Header
 */
#apps_site_header {
	margin: 0 20px 20px;
	position: relative;
}

	#apps_site_logo {
		max-width: 300px;
		line-height: 0;
	}
	
		#apps_site_logo img {
			width: 100%;
		}
		
	#apps_site_nav {
		position: absolute;
			right: 0; bottom: 0;
	}

		#apps_site_nav li {
			list-style: none;
			float: left;
			margin-right: 10px;
			text-align: center;
		}

			#apps_site_nav li a {
				color: #000000;
				display: block;
				font-weight: bold;
				padding: 10px 20px;
				text-shadow: 1px 1px 1px #ffffff;
				text-transform: uppercase;
				transition: background-color 0.1s;
			}

			#apps_site_nav li a:hover, #apps_site_nav li:hover {
				background-color: #dddddd;
			}

			#apps_site_nav li.current-menu-item a {
				background-color: #660066;
				color: #ffffff;
				text-shadow: none;
			}

				#apps_site_nav li ul {
					background-color: #dddddd;
					display: none;
					position: absolute;
					z-index: 10;
				}

				#apps_site_nav li:hover > ul {
					display: block;
				}

					#apps_site_nav li ul li {
						border: none;
						float: none;
						margin: 0;
						text-align: left;
						width: 200px;
					}

					#apps_site_nav li ul li a {
						display: block;
						line-height: normal;
						padding: 10px 20px;
					}

					#apps_site_nav li ul li a:hover {
						border-left: 4px solid #990099;
					}

					#apps_site_nav li.current-menu-item ul li a:hover {
						background-color: #990099;
						border: none;
					}

/**
 * Apps Sidebar
 */
.apps_sidebar {
	float: left;
	padding-right: 10px;
	width: 200px;
}

	.apps_sidebar h3 {
		border-bottom: 1px solid #000000;
		padding-bottom: 5px;
	}

	.apps_sidebar ul {
		margin-bottom: 10px;
	}

		.apps_sidebar li {
			list-style: none;
		}
		
			.apps_sidebar li a {
				color: #999999;
				display: block;
				font-size: 0.9em;
				font-weight: bold;
				padding: 10px 0;
				text-transform: uppercase;
				transition: color 0.1s;
			}
			
			.apps_sidebar li a:hover, .apps_sidebar li.active a {
				color: #000000;
			}
		
/**
 * Apps forms
 */
.apps_form {
	margin-bottom: 20px;
	overflow: hidden;
}

	.apps_form li {
		list-style: none;
		overflow: hidden;
		padding: 5px 0;
	}
	
		.apps_form li.dropdown {
			overflow: visible;
		}
		
			.apps_form li.dropdown ul {
				float: none;
			}
		
		.apps_form label, .apps_form p {
			float: left;
			margin: 8px 20px 0 0;
			width: 150px;
		}
		
		.apps_form input[type=text], .apps_form textarea {
			border: 1px solid #c0c0c0;
			box-shadow: inset 0 0 3px #c0c0c0;
			outline: none;
			padding: 10px;
			width: 260px;
		}
		
		.apps_form input[type=text]:focus, .apps_form textarea:focus {
			border-color: #ff6600;
		}
		
		.apps_form input:focus {
			outline: none;
		}
		
		.apps_form input[readonly] {
			background-color: transparent;
			border: none;
			box-shadow: none;
			padding: 10px 20px 0 0;
		}
		
		.apps_form_right_button {
			margin-left: 10px;
		}
		
		.apps_form li.checkbox {
			overflow: hidden;
		}
			.apps_form li.checkbox label {
				display: block;
				float: none;
				margin: 0 0 0 170px;
				width: 300px;
			}
			
		.apps_form li ul {
			float: left;
		}
		
			.apps_form li ul li {
				padding: 0;
			}
		
/**
 * Message Boxes
 */
.msg_box {
	margin-bottom: 10px;
	padding: 10px;
}

	.success {
		background-color: #99ff99;
		border: 1px solid #339933;
	}
	
	.error {
		background-color: #ffcccc;
		border: 1px solid #ff0000;
	}
	
/**
 * Panels
 */
.panel {
	border-bottom: 2px solid #dddddd;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
	
/**
 * Apps List Table
 */
.apps_list_table {
	border: 1px solid #dddddd;
	border-collapse: collapse;
	width: 100%;
}

	.apps_list_table th {
		padding: 10px;
		text-align: left;
	}
	
	.apps_list_table td {
		border-top: 1px solid #dddddd;
		padding: 10px;
		position: relative;
	}
	
	.apps_list_table li {
		list-style: none;
	}
	
	.apps_list_table ul li {
		font-size: 0.8em;
		font-weight: bold;
	}

	.list_links {
		position: absolute;
			right: 10px; bottom: 10px;
	}
	
		.delete a {
			color: #ff0000;
			display: none;
		}
		
		.apps_list_table td:hover .delete a {
			display: inline;
		}

			
/**
 * Tabbed menu
 */
.apps_tabbed_nav {
	overflow: hidden;
	position: relative;
	bottom: -1px;
}

.tabbed_nav_right {
	float: right;
}

	.apps_tabbed_nav li {
		float: left;
		list-style: none;
		margin-left: 10px;
	}
	
		.apps_tabbed_nav li a {
			border: 1px solid #dddddd;
			border-bottom: 0;
			color: #999999;
			display: block;
			font-size: 0.9em;
			font-weight: bold;
			padding: 10px;
			transition: color 0.1s;
		}
		
		.apps_tabbed_nav li a:hover {
			color: #000000;
		}
		
		.apps_tabbed_nav li.active a {
			background-color: #ffffff;
			border-bottom: 1px solid #ffffff;
			color: #000000;
		}

.apps_tabbed_content {
	border: 1px solid #dddddd;
	padding: 20px;
}
		
/**
 * Buttons
 */
.table_action_buttons li {
	list-style: none;
	margin-bottom: 20px;
}

.buttons a, input[type=submit], input[type=button], button {
	background-color: #0066cc;
	border: 0;
	color: #ffffff;
	border-radius: 2px;
	padding: 4px 8px;
}

.buttons a:hover, input[type=submit]:hover, input[type=button]:hover, button:hover {
	background-color: #0099ff;
}

.buttons a:active, input[type=submit]:active, input[type=button]:active, button:active {
	box-shadow: inset 0 0 2px #000000;
}

		
/**
 * Base Apps Specific
 * This will eventually get oved into its own CSS file
 */
.apps_data_list .location_name { width: 30%; }
.apps_data_list .location_country { width: 10%; }
.apps_data_list .location_state { width: 15%; }
.apps_data_list .location_city { width: 15%}
.apps_data_list .location_street { width: 20%; }
.apps_data_list .location_zip { width: 10%; }

.apps_data_list .division_name { width: 100%; }

.apps_data_list .cell_name { width: 25%; }
.apps_data_list .cell_number { width: 10%; }
.apps_data_list .cell_division { width: 15%; }
.apps_data_list .cell_location { width: 15%}
.apps_data_list .cell_iq_connector { width: 20%; }
.apps_data_list .cell_status { width: 15%; }

/**
 * Dashboard Links
 */
#apps_dashboard_links li {
	display: table;
	float: left;
	list-style: none;
	width: 20%;
}

	#apps_dashboard_links li a {
		border-radius: 2px;
		box-sizing: border-box;
		color: #000000;
		display: table-cell;
		font-size: 1.4em;
		text-align: center;
		transition: background-color 0.1s;
		vertical-align: middle;
	}
	
	#apps_dashboard_links li a:hover {
		background-color: #f1f1f1;
	}
	
		#apps_dashboard_links li a i {
			font-size: 3em;
			margin-bottom: 10px;
		}
		
		#apps_dashboard_links li a:hover i {
			color: #660066;
		}
	
		#apps_dashboard_links li a span {
			display: block;
			font-size: 0.7em;
		}
		
/**
 * Apps Site Footer
 */
#apps_site_footer {
	color: #999999;
	font-size: 0.9em;
	font-weight: bold;
	padding-top: 10px;
	text-align: right;
	text-shadow: 1px 1px 0 #ffffff;
}

	#apps_site_footer a {
		color: #666666;
	}
	
	#apps_site_footer a:hover {
		text-decoration: underline;
	}
		
/**
 * Media Queries
 */
@media all and (max-width: 1000px) {

	body {
		font-size: 12px;
	}

}

@media all and (max-width: 720px) {

	#apps_site_header {
		margin: 0 0 10px 10px;
	}

		#apps_site_nav {
			margin-top: 20px;
			position: relative;
				left: 0; bottom: 10px;
		}

	#apps_dashboard_links li {
		width: 25%;
	}
}

@media all and (max-width: 600px) {

	#apps_dashboard_links li {
		width: 33.3%;
	}
}

@media all and (max-width: 450px) {

	#apps_site_nav li {
		float: none;
	}
	
	

	#apps_dashboard_links li {
		width: 50%;
	}
}