/**
 * Some Simple Resets
 */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; margin: 0; padding: 0; }
img { border: 0; }
a { color: #0066cc; text-decoration: none; outline: none; }
a:hover { text-decoration: underline; }
header, section, footer, aside, nav, article, figure { display: block; }

<<<<<<< HEAD
.clear:after {
	clear: both;
	content: " ";
	display: table;
}

html {
	font-family: arial;
	font-size: 16px;
}

@media (max-width: 1000px) {
	html {
		font-size: 14px;
	}
}

/**
 * Main Layout Structure
 */
body {
	background-color: #f1f1f1;
}

#apps_site_wrap {
	margin: 20px auto;
	max-width: 1000px;
=======
/**
 * Grid
 */
.clear:after, .grid:after {
	clear: both;
	content: " ";
	display: table;
}

[class*='col-'] {
	float: left;
	padding-right: 20px;
}

[class*='col-']:last-of-type {
  padding-right: 0;
>>>>>>> redesign
}

.col-fullwidth { width: 100%; }

.col-1-2 { width: 50%; }

.col-1-3 { width: 33.33%; }
.col-2-3 { width: 66.33%; }

@media (max-width: 800px) {
	
	[class*='col-'] {
		float: none;
		padding: 0;
		width: 100%;
	}

}

.col-1-4 { width: 25%; }
.col-3-4 { width: 75%; }

/**
 * Main Layout Structure
 */
html {
	font-size: 18px;
}

body {
	background-color: #dddddd;
	font-family: arial;
	margin: 10px;
}

#apps_site_wrap {
	margin: 0 auto;
	max-width: 1200px;
}

#apps_main_container {
	background-color: #ffffff;
	border-top: 3px solid #660066;
	padding: 20px;
}

/**
 * Apps Header
 */
#apps_site_header {
	position: relative;
}

	#apps_site_logo {
		float: left;
<<<<<<< HEAD
		max-width: 300px;
		line-height: 0;
=======
>>>>>>> redesign
	}
	
	#apps_site_nav {
		float: right;
		margin-top: 30px;
		position: relative;
	}
	
		#apps_site_nav li {
			float: left;
			list-style: none;
<<<<<<< HEAD
			margin-left: 20px;
		}
		
			#apps_site_nav li a {
				color: #777;
				display: block;
				padding: 20px;
				text-transform: uppercase;
			}
			
			#apps_site_nav li a:hover, #apps_site_nav li.current-menu-item a {
				color: #000000;
			}
		
			#apps_site_nav li ul {
				background-color: #000000;
				display: none;
				position: absolute;
					top: 99%;
				z-index: 5;
			}
			
			#apps_site_nav li ul:before {
				border: 10px solid transparent;
				border-bottom-color: #000000;
				content: " ";
				height: 0;
				position: absolute;
					top: -20px; left: 14%;
				width: 0;
				z-index: 5;
			}
			
			#apps_site_nav li:hover > ul {
				display: block;
			}
			
				#apps_site_nav li li {
					margin: 0;
					width: 200px;
				}
			
					#apps_site_nav li li a, #apps_site_nav li.current-menu-item li a {
						color: #dddddd;
						font-size: 0.9em;
						padding: 20px;
					}
					
					#apps_site_nav li li a:hover {
						color: #ffffff;
					}

=======
			margin-right: 10px;
			position: relative;
		}
		
			#apps_site_nav li a {
				color: #505050;
				display: block;
				padding: 20px;
			}
			
			#apps_site_nav li a:hover {
				background-color: #c0c0c0;
				text-decoration: none;
			}
			
			#apps_site_nav li.current-menu-item a {
				background-color: #660066;
				color: #ffffff;
			}
		
			#apps_site_nav li ul {
				background-color: #660066;
				position: absolute;
					left: -9999px;
			}
			
			#apps_site_nav li:hover ul {
				left: 0;
			}
			
				#apps_site_nav li li {
					float: none;
					margin: 3px 0 0;
				}
				
					#apps_site_nav li li a {
						color: #ffffff;
					}
					
					#apps_site_nav li li a:hover {
						background-color: #330033;
					}
					
>>>>>>> redesign
/**
 * Apps Site Footer
 */
#apps_site_footer {
	color: #606060;
	font-size: 0.8rem;
	font-weight: bold;
	padding: 10px 0 0;
	text-align: right;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, .8);
}

/**
 * Widgets
 */
.widget {
	margin-bottom: 20px;
}

	.sidebar_links li {
		list-style: none;
		margin-top: 5px;
	}
	
<<<<<<< HEAD
		.apps_form li.dropdown {
			overflow: visible;
		}
		
			.apps_form li.dropdown ul {
				float: none;
			}
			
		.apps_form .label {
			width: 200px;
		}
		
		.apps_form label, .apps_form p {
			float: left;
			margin: 8px 20px 0 0;
			width: 180px;
		}
		
		.apps_form input[type=text], .apps_form textarea {
			border: 1px solid #c0c0c0;
			box-shadow: inset 0 0 3px #c0c0c0;
			font-size: 0.8rem;
			outline: none;
			padding: 10px;
		}
		
		.apps_form input[type=text]:focus, .apps_form textarea:focus {
			border-color: #ff6600;
		}
		
		.apps_form input:focus {
			outline: none;
		}
		
		.apps_form input[readonly] {
			background-color: transparent;
			border: none;
			box-shadow: none;
			font-size: 0.8rem;
			padding: 10px 20px 0 0;
		}
		
		.apps_form_right_button {
			margin-left: 10px;
		}
		
		.apps_form li.checkbox {
			overflow: hidden;
		}
			.apps_form li.checkbox label {
				display: block;
				float: none;
				margin: 0 0 0 170px;
				width: 300px;
			}
			
		.apps_form li ul {
			float: left;
=======
		.sidebar_links li a {
			color: #000000;
			display: block;
			padding: 5px 10px;
>>>>>>> redesign
		}
		
			.sidebar_links li.active a, .sidebar_links li a:hover {
				background-color: #dddddd;
				border-radius: 3px;
				text-decoration: none;
			}

/**
 * Dashboard Links
 */
.apps_dashboard_links li {
	float: left;
	list-style: none;
	width: 20%;
}

	.apps_dashboard_links a {
		color: #000000;
		display: block;
		padding: 10px;
		text-align: center;
	}
	
		.apps_dashboard_links a i {
			font-size: 2rem;
		}
		
	.apps_dashboard_links a:hover {
		background-color: #dddddd;
		text-decoration: none;
	}
	
/**
 * Tabbed Nav
 */
.apps_tabbed_nav {
	overflow: hidden;
	position: relative;
		bottom: -1px;
}

	.apps_tabbed_nav li {
		float: left;
		list-style: none;
		margin: 0 5px;
	}
	
		.apps_tabbed_nav li a {
			border: 1px solid #c0c0c0;
			border-bottom-color: transparent;
			color: #808080;
			display: block;
			padding: 10px;
		}
		
		.apps_tabbed_nav li a:hover {
			text-decoration: none;
		}
		
			.apps_tabbed_nav li.active a {
				border-bottom-color: #ffffff;
				color: #000000;
			}
			
.apps_tabbed_content {
	border: 1px solid #c0c0c0;
	padding: 10px;
}
	
/**
 * List Tables
 */
.apps_list_table {
	border-collapse: collapse;
	width: 100%;
}

	.apps_list_table th {
		border-bottom: 1px solid #000000;
		font-weight: normal;
		padding: 10px;
		text-align: left;
	}
	
	.apps_list_table td {
	border-bottom: 1px solid #c0c0c0;
		padding: 10px;
	}
	
	.apps_list_table .list_meta {
		font-size: 0.8rem;
	}
	
	.apps_list_table ul.details {
		float: left;
	}
	
	.apps_list_table ul.links {
		float: right;
	}
	
		.apps_list_table li {
			list-style: none;
		}
	
/**
 * Forms
 */
.apps_form li {
	list-style: none;
	margin-bottom: 10px;
}

	.apps_form label {
		display: inline-block;
		width: 200px;
	}

.apps_form input {
	padding: 5px;
	font-size: 1rem;
}
