/**
 * Some Simple Resets
 */
* { margin: 0; padding: 0; }
img { border: 0; }
a { color: #6699cc; text-decoration: none; outline: none; }
a:hover { color: #cc9966; }
header, section, footer, aside, nav, article, figure { display: block; }

/**
 * Main Layout Structure
 */
body {
	font: 14px/1.4 arial;
}

.apps_site_wrap {
	margin: 0 auto;
	max-width: 1000px;
	position: relative;
}

.apps_content.right {
	margin-left: 220px;
}

/**
 * Apps Site Header
 */
#apps_site_header {
	border-bottom: 4px solid #339900;
	line-height: 60px;
	padding: 0 20px;
	height: 60px;
}

	#apps_site_logo {
		float: left;
		padding-top: 5px;
	}

	#apps_site_nav {
		float: right;
	}
	
		#apps_site_nav ul {
			position: relative;
		}
		
			#apps_site_nav li {
				float: left;
				list-style: none;
			}
		
				#apps_site_nav li a {
					color: #000000;
					display: block;
					font-size: 1.2em;
					padding: 0 20px;
				}
				
				#apps_site_nav li a:hover {
					background-color: #f1f1f1;
				}
				
					#apps_site_nav li ul {
						background-color: #339900;
						box-shadow: 0 1px 2px #c0c0c0;
						display: none;
						position: absolute;
						z-index: 10;
						padding-top: 4px;
					}
				
					#apps_site_nav li:hover > ul {
						display: block;
					}
					
						#apps_site_nav li ul li {
							border: none;
						}
					
						#apps_site_nav li ul li a {
							color: #ffffff;
							display: block;
							line-height: normal;
							padding: 10px 20px;
							width: 200px;
						}
						
						#apps_site_nav li ul li a:hover {
							background-color: #66cc33;
						}

/**
 * Apps Site Content Area
 */
#apps_site_content {
	padding: 20px;
}

/**
 * Apps Sidebar
 */
.apps_sidebar {
	position: fixed;
	width: 200px;
}

	.apps_sidebar li {
		list-style: none;
	}
	
		.apps_sidebar li a {
			color: #000000;
			display: block;
			padding: 5px 10px;
		}
		
		.apps_sidebar li a:hover {
			color: #006699;
		}
		
		.apps_sidebar li.active a {
			background-color: #006699;
			color: #ffffff;
		}
		
/**
 * Apps forms
 */
.apps_form {
	border: 1px solid #dddddd;
	padding: 10px;
	width: 450px;
}

	.apps_form li {
		list-style: none;
		padding: 5px 0;
	}
		.apps_form label {
			float: left;
			margin-right: 20px;
			width: 150px;
		}
		
		.apps_form input[type=text] {
			background-color: #dddddd;
			border: none;
			border-radius: 5px;
			padding: 5px;
			width: 260px;
		}
		
		.apps_form input:focus {
			outline: none;
		}
		
/**
 * Message Boxes
 */
.msg_box {
	margin-bottom: 10px;
	padding: 10px;
}

	.success {
		background-color: #ccff99;
	}
	
	.error {
		background-color: #ff9999;
	}
	
/**
 * Data Lists
 */
.apps_data_list {
	border-left: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
}
	
	.apps_data_list_header {
		background-color: #f1f1f1;
	}

	.apps_data_list li {
		list-style: none;
	}

		.apps_data_list dl {
			border-bottom: 1px solid #dddddd;
			overflow: hidden;
		}

			.apps_data_list dt, .apps_data_list dd {
				border-right: 1px solid #dddddd;
				box-sizing: border-box;
				float: left;
				padding: 5px;
			}


		
/**
 * Base Apps Specific
 * This will eventually get oved into its own CSS file
 */
.apps_data_list .location_name { width: 30%; }
.apps_data_list .location_country { width: 10%; }
.apps_data_list .location_state { width: 15%; }
.apps_data_list .location_city { width: 15%}
.apps_data_list .location_street { width: 20%; }
.apps_data_list .location_zip { width: 10%; }

.apps_data_list .division_name { width: 100%; }