/**
 * Some Simple Resets
 */
* { margin: 0; padding: 0; }
img { border: 0; }
a { text-decoration: none; outline: none; }
header, section, footer, aside, nav, article, figure { display: block; }

/**
 * Main Layout Structure
 */
body {
	font: 14px/1.4 arial;
}

.apps_site_wrap {
	margin: 0 auto;
	max-width: 1000px;
	position: relative;
}

/**
 * Apps Site Header
 */
#apps_site_header {
	background: #dddddd url(images/header_bg.png) repeat-x;
	border-bottom: 1px solid #ffffff;
	box-shadow: 0 2px 6px #c0c0c0;
	height: 50px;
}