/**
 * Main Layout Structure
 */
body {
	padding-top: 70px;
}

/**
 * Page Header
 */
.page-header {
	border: none;
	margin: 0;
}

	.page-header h1 {
		margin: 0;
	}

/**
 * Main Navigation
 */
.navbar-inverse {
	background-color: #660066;
	border: 0;
}

	.navbar-inverse .navbar-collapse {
		border-color: #330033;
	}

	.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
		color: #ccc;
	}
	
	.navbar-inverse .navbar-nav>.active>a {
		background-color: #330033;
	}
	
	.navbar-inverse .navbar-toggle {
		border-color: #330033;
	}
	
	.navbar-inverse .navbar-toggle:hover {
		background-color: #330033;
	}
	
		.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
			color: #ccc;
			padding: 10px 15px 10px 25px;
		}
	
/**
 * Sidebar
 */
.nav-sidebar {
	border-bottom: 1px solid #c0c0c0;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.nav-sidebar:last-of-type {
	border-bottom: none;
}

	.nav-sidebar li a {
		color: #808080;
	}
	
		.nav-sidebar li a:hover {
			background-color: transparent;
			color: #000000;
		}
	
		.nav-sidebar li.active a {
			background-color: #dddddd;
		}
		
/**
 * Tabbed Content
 */
.nav-tabs {
	margin-bottom: 20px;
}
	
/**
 * Buttons
 */
.delete-button {
	display: none;
}

.table td:hover .delete-button {
	display: inline;
}

/**
 * Dashboard Links
 */
.dashboard-links {
	text-align: center;
}

	.dashboard-links a {
		color: #000000;
		padding: 10px;
	}
	
		.dashboard-links .thumbnail {
			border: none;
		}
		
		.dashboard-links span {
			display: block;
		}
	
		.dashboard-links a i {
			font-size: 3em;
		}
	
		.dashboard-links a:hover {
			background-color: #f1f1f1;
			text-decoration: none;
		}