/**
 * Typography
 */
h1 {
	color: #000000;
	font-size: 2em;
	margin: 0 0 20px 0;
}
	
h2 {
	color: #000000;
	font-size: 1.6em;
}

	h2 span {
		font-size: .6em;
		margin-top: 5px;
	}

/**
 * Main Layout Structure
 */
body {
	background-color: #dddddd;
}

#page-wrap {
	margin: 50px auto;
	width: 90%;
}

	@media screen and (max-width:768px) {
		#page-wrap {
			margin: 0;
			width: 100%;
		}	
	}

.main-container {
	background-color: #ffffff;
	padding: 20px;
}

.main-footer {
	background-color: #cccccc;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #808080;
	font-size: 0.8em;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
}

	.main-footer a {
		color: #808080;
		font-weight: bold;
	}

/**
 * Page Header
 */
.page-header {
	border: none;
	margin: 0;
	padding: 0;
}

/**
 * Main Navigation
 */
.navbar {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-bottom: 0;
}

.navbar-inverse {
	background-color: #336699;
	border: 0;
}

	.navbar-brand sup {
		font-size: .54em;
		text-transform: uppercase;
	}

	.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
		color: #ffffff;
	}
	
	.navbar-inverse .navbar-nav>li>a:hover {
		background-color: #003366;
	}
	
	.navbar-inverse .navbar-toggle {
		border-color: #ffffff;
	}
	
	.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
		background-color: #3a74ad;
	}
	
/**
 * List groups
 */
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	background-color: #000000;
	border-color: #000000;
}
		
/**
 * Tabbed Content
 */
.nav-tabs {
	margin-bottom: 20px;
}
	
/**
 * Buttons
 */
.delete-button {
	display: none;
}

.table td:hover .delete-button {
	display: inline;
}

/**
 * Dashboard Links
 */
.dashboard-links {
	text-align: center;
}

	.dashboard-links a {
		color: #000000;
		padding: 10px;
	}
	
		.dashboard-links .thumbnail {
			border: none;
		}
		
		.dashboard-links h4 {
			margin-bottom: 0;
		}
		
		.dashboard-links span {
			display: block;
		}
	
		.dashboard-links a i {
			font-size: 3em;
		}
	
		.dashboard-links a:hover {
			background-color: #f1f1f1;
			text-decoration: none;
		}

/**
 * Forms
 */
label.error {
	color: #ff0000;
}

input.error {
	border-color: #ff0000;
}

/**
 * Innolunch Menu
 */
#innolunch .table {
	margin: 0;
}