body {
	margin: 20px 40px;
	width: 600px;
}

	#cl-head {
		padding: 20px;
	}
	
		h1 {
			font-size: 1.6em;
			font-weight: normal;
			margin: 0 0 5px;
		}
		
	.entry {
		padding: 20px;
	}
	
		.hotfix {
			background-color: #ffdada;
		}
		
		h2 {
			font-size: 1em;
		}
		
		ul {
			padding-left: 20px;
		}
		
			li {
				border-left: 10px solid #000000;
				line-height: 25px;
				list-style: none;
				margin: 5px 0;
				padding-left: 10px;
			}

/* Legend */
.legend {
	color: #ffffff;
	font-size: .6em;
	padding: 2px 5px;
	text-transform: uppercase;
}	

.legend-added { background-color: #339900; }
li.added { border-color: #339900; }

.legend-removed { background-color: #ff0000; }
li.removed { border-color: #ff0000; }

.legend-fixed { background-color: #ff9900; }
li.fixed { border-color: #ff9900; }

.legend-improved { background-color: #660066; }
li.improved { border-color: #660099; }